body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  background-color: beige;
  margin: 0;
}

#root {
  height: 100vh;
}

.wrapper {
  padding: 20px;
  background-color: bisque;
  min-height: -webkit-fill-available;
}
