.header {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin-left: 10px;
}